*,
body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.container-navbar {
  display: flex;
  position: absolute;
  width: 100%;
  height: 10vh;
  z-index: 10;
  align-items: center;
  justify-content: space-evenly;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
}

.nav-menu a {
  text-decoration: none;
  color: black;
  font-size: medium;
  color: white;
}

.hero {
  height: 100vh;
  background-image: url("assets/image/home/slide-1.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 0.5rem;
}

.hero p {
  font-size: 15px;
  margin-bottom: 2rem;
  font-weight: 600;
}

.hero button {
  font-size: 10px;
  padding: 15px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid tomato;
  color: white;
  font-weight: 500;
}
