*,
body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

/* ============= HOME START ================ */

.container-navbar {
  display: flex;
  position: absolute;
  width: 100%;
  height: 13vh;
  z-index: 10;
  align-items: center;
  justify-content: space-evenly;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
}

.nav-menu a {
  text-decoration: none;
  color: black;
  font-size: medium;
  color: white;
}

.hero {
  position: relative;
  /* karena nanti mau buat "before" yang umumnya adalah position = absolut maka kita siapkan tempat di sini dengan cara position = relative */
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* untuk mainin animasi backgroundnya agar isi di dalam class hero tidak kena efeknya */
.hero::before {
  content: "";
  /* syntax ikutin aja begini */
  position: absolute;
  /* before atau after umumnya pakai position absolut ya, agar hadir menimpa atau menonjol dari parent classnya */
  inset: 0;
  /* ini buat ukuran agar memnuhi semua tempat di parent class nya -> manualnya pakai width dan height */
  background-image: url("assets/image/home/slide-1.jpg");
  background-size: cover;
  background-position: center;
  animation: zoomOut 20s linear infinite;
  /* "linera" membuat transisi animasi berjalan konstan dan tidak terasa putus" */
  will-change: transform;
  /* will change ini berfungsi untuk memberikan peringtan ke browser ya agar bisa di optimasi */
}

@keyframes zoomOut {
  0% {
    transform: scale(1.7); /* zoom in aawal */
  }
  25% {
    transform: scale(1.5); /* zoom out */
  }
  50% {
    transform: scale(1.3); /* zoom out */
  }
  75% {
    transform: scale(1.5); /* zoom in ulang */
  }
  100% {
    transform: scale(1.7); /* zoom in ulang */
  }
}

.hero-content {
  text-align: center;
  color: white;
  z-index: 2;
  /* ini ada z-index agar tidak tertutup oleh class hero (parent classnya)*/
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 0.8rem;
}

.hero p {
  font-size: 15px;
  margin-bottom: 2rem;
  font-weight: 500;
}

.hero button {
  position: relative;
  font-size: 10px;
  padding: 15px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgb(216, 61, 7);
  color: white;
  font-weight: 500;
}

/* pakai ::before buat membuat pseudo element di button nya, agar bisa di atur untuk animasi manual atau buatannya nya  */
.hero button::before {
  content: "";
  position: absolute;
  background-color: rgb(216, 61, 77);
  width: 0;
  /* dibuat pseudo elemnet ini belum memenuhi panjangnya atau sama dengan 0px dari panjang parent class nya */
  height: 100%;
  left: 0;
  top: 0;
  transition: 1.2s;
  z-index: -1;
  /* karena kita pakai tulisan "see our project" - nya di dalam button langsung maka butuh z-index, jika itu teksnya pakai <span> atau apa tidak perlu z-index cukup jadi kan ::before */
}

.hero button:hover::before {
  width: 100%;
  /* di ubah panjang nya menjadi 100 sehingga menciptkan efek fill backgrounf from left to right */
  transition-duration: 0.4s;
}

/* #box {
  width: 100px;
  height: 100px;
  border: solid red 1px;
}

#box.box2 {
  background-color: blue;
}

#hapus {
  cursor: pointer;
}

#change {
  cursor: pointer;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
} */

/* ============= HOME END ================ */
